@import './css/inter.css'

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	margin: 0;
	background-color: transparent;
	color: white;
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	font-size: 2rem;
}

.buttons button {
	height: 40px;
	padding: 5px 14px;
	margin: 0px 5px;
	background-color: white;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

main {
	width: 100%;
	height: 100%;
}

main textarea {
	box-sizing: border-box;
	background-color: black;
	color: white;
	width: 99%;
	height: 100%;
	padding: 10px;
	border: none;
	outline: none;
}
